table {
  width: 100%;
  border-collapse: collapse;
}

tr th {
  background-color: #736f6f;
}

tr:nth-child(odd) {
  background-color: #d6d6d6;
}

th {
  padding: 0.25rem 1rem;
}

tr.isAdmin {
  background-color: rgb(255, 187, 187);
}
